<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header' , {title: title}) -%>
</head>
<body>
    <%- include('partials/navbar' , {activeLink: '/about'}); -%>
    <div class="container my-4">
    <h1>About </h1>
    <hr />
    <p>
        This app is a sample application created with Express JS
    </p>
    </div>
</body>
</html>