<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/header', { title: title } ); -%>
    <body>
        <%- include( 'partials/navbar', { activeLink: '/workshops/add' } ); -%>
        <div class="container my-4">
            <div class="jumbotron">
                <h1>List of Workshops</h1>
                <hr />
                <ul class="list-group">
                    <% workshops.forEach( workshop => { %>
                        <li class="list-group-item"><%= workshop.name %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </body>
</html>