{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-for-of"
    ],
    "presets": [
        "@babel/preset-env"
    ]
}