/** color variables */
$color-primary: rgb(24, 162, 184);
$color-dark-primary: rgb(22, 135, 141);
$color-light-primary:rgb(33, 192, 216);
$color-success: rgb(25, 135, 84);
$color-staple : rgb(115, 203, 211);

$color-dark-success: rgb(25, 135, 84) ;
$color-danger: rgb(226, 30, 69);
$color-dark-danger: rgb(175, 19, 50);
$color-dark: rgb(0, 0, 0);
$color-light: rgb(255, 255, 255);
$color-gray: rgb(128, 128, 128);
$color-lightgray: rgb(182, 176, 176);
$color-extra-lightgray: rgb(248, 249, 250);

$width-full:100%;

$base-font-size-mobile: 12px;
$base-font-size-desktop: 16px;

$tablet-min-width: 640px;

$font-size-xs: 0.75rem;
$font-size-small: 1rem;
$font-size-xm: 1.15rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xl: 1.75rem;

$padding-xs: 0.75rem;
$padding-small: 1rem;
$padding-medium: 1.25rem;
$padding-large: 1.5rem;

$margin-xs: 0.75rem;
$margin-small: 1rem;
$margin-medium: 1.25rem;
$margin-large: 2rem;

$radius: 5px;

$base-family: Arial, Helvetica, sans-serif;
