@use 'vars';

.jumbotron {
    padding: 4em 2em;
    font-size: 1.5em;
    line-height: 1.5;
    background-color: vars.$color-extra-lightgray;
}

.jumbotron h1 {
    font-size: 2.5em;
}

.jumbotron p + p {
    margin-top: 1.5em;
}