$primary-color : navy;
$base-font-size: 10pt;

@mixin std-border( $border-width : 1px ) {
    border-width: 2px;
    border-style: solid;
}

.btn {
    @include std-border;
    padding: $base-font-size;
}

.btn-primary {
    border-color: $primary-color;
}

.alert {
    @include std-border( 2px );
    padding: $base-font-size * 2;
    border-radius: 5px;
}

.alert-primary {
    border-color: $primary-color;
}