$primary-color: red;

.intro {
    font-size: 10px;

    h1 {
        color: $primary-color;
    }

    a {
        text-decoration: underline $primary-color;

        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
    }
}