.sb-carousel {
    position: relative;
}

.sb-carousel-item {
    display: none;
    width: 100%;
}

.sb-carousel-item.active {
    display: block;
}

.sb-carousel-action {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 20%;
    line-height: 20%;
    border: 0;
    margin: 0.5em;
    text-align: center;
    transform: translate( 0, -50px );
    background-color: rgba( 32, 32, 32, 0.8 );
    color: white;
}

.sb-carousel-action.previous {
    left: 0px;
}

.sb-carousel-action.next {
    right: 0px;
}

.img-responsive {
    width: 100%;
}