<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <%- include( 'navbar' ) -%>

        <main class="container my-4">
            <h1><%= appTitle %></h1>
            <hr />
            <p>
                Welcome to workshops app. You can view workshops happening in your city and nearby places.
            </p>
        </main>
    </body>
</html>